.consult-container{
    display: flex;

}
.consult-chat{
    width: 100%;
}
.consult-messages {
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    /*overflow-y: scroll;*/
    overflow:hidden;
    color: white;

}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto;
    background:gray ;
    height: auto;
    border-radius: 10px;
    width:max-content;
    max-width: 50%;
    word-break: break-word;
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
    background: #3390ECFF;
    height: max-content;
    width:max-content;
    border-radius: 10px;
    max-width: 50%;
    word-break: break-word;
}






.users-list-item{
    display: flex;
    flex-direction: column;
    position: relative;

}
.users-list-wrapper{
    position: relative;
    width: 90%;
    height:70px ;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);    margin: 10px;
    padding:15px ;

}
.users-list-group{
    min-width:20%;
}
.users-list-content{
    margin-left: 15px;
    display: flex;
}
.users-list-content button{
    position: absolute;
    left:80%;

}
.interlocutor-data-field{
    border-bottom:1px solid #dee2e6 ;
    display: flex;
    padding: 10px;
}
.interlocutor-data-field img{
    border-radius: 50px;
    margin-right:10px ;
}
