{% extends 'lk.html' %}
{% block sign %}
    <div class="sign__form">
        <div class="page__position">
            <ul class="position__list">
                <li class="position__item"><a href="index.html" class="position__link">Главная</a></li>
                <li class="position__item"><a> > </a></li>
                <li class="position__item"><a href="profile.html" class="position__link">Мой кабинет</a>
                </li>
                <li class="position__item"><a> > </a></li>
                <li class="position__item"><a class="position__link" href="">Регистрация компании</a></li>
            </ul>
        </div>

    </div>
{% endblock %}